<div class="game-choices">
    <div class="game-choices--normal">
        <div class="choice paper" (click)="play(1)">
            <img src="assets/icon-paper.svg" alt="">
        </div>
        <div class="choice rock" (click)="play(0)">
            <img src="assets/icon-rock.svg" alt="">
        </div>
        <div class="choice scissors" (click)="play(2)">
            <img src="assets/icon-scissors.svg" alt="">
        </div>
        <img src="assets/bg-triangle.svg" alt="">
    </div>
<!-- <div class="game-choices--bigbang"></div> -->
</div>