@import '../../scss/variables';

.menu {
    border: solid 3px $Header-Outline;
    border-radius: 5px;
    width: min(90%, 600px);
    margin: 0px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 20px;

    &__choices {
        .choice {
            color: white;
            text-transform: uppercase;
            font-size: 20px;
            font-weight: bold;
        }
    }

    &__score {
        background: white;
        color: $Score-Text;
        align-self: center;
        align-self: stretch;

        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 30px;
        border-radius: 5px;
        flex-direction: column;

        span {
            font-size: 12px;
        }

        .score {
            font-size: 40px;
            color: $Dark-Text;
            font-weight: bold;
        }
    }
}